<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="wrapp" ng-controller="googlemapoutput">
    <p id='head'>Hey, </p>
         <div class="row">
                                  <br>

             <div class="col-sm-6 col-md-4 col-md-offset-1">
                <input type="text"  class="form-control"  placeholder="Current Location" ng-model="startlocation" id="startlocation"/>
                <input type="text"  class="form-control"  placeholder="Destination"id="endlocation" /> 
                              <div class="col-sm-6 col-md-5 col-md-offset-2">
                                  <br>
                <button id="btn" class="btn btn-lg btn-primary btn-block" ng-click="calcRoute()">
                    Get Direction
                </button>
                 </div>
                 <br/></br>
             </div>
    <div class="col-sm-4">
           <div class="row">
    <div class="col-sm-3 col-md-6" >
      <div  id="temp1" class="circle"></div>
        <p   id ="loc1"></p>

    </div>
    <div class="col-sm-9 col-md-6" >
      <div   id="temp2" class="circle"> </div>
        <p  id ="loc2"> </p>
    </div>
  </div>
</div>


            </div>
                                      <br>

            <div   id="map-canvas" ></div>
        </div>
    <div class="weatherModule" style="display:none;">
        <h3>Source</h3>
<p class="currentConditions">Current Temperature<br/> weather condition</p>
<div class="currentIcon"><img src="{{icon}} "/></div>
    </div>
    <div class="weatherModule1" style="display:none;"><h3>Destination</h3>
<p class="currentConditions1">Current Temperature <br/> weather condition</p>
<div class="currentIcon1"><img src="{{icon1}}" /></div>
</div>
            </div>
    </div>
            <div id="map-canvas" style="height: 400px;"></div>
    </div>
  </ion-content>
</ion-view>
